{% extends "public_template.html" %}
{% block content %}
    <h1 class="page-header">
        {{movie.title}}
    </h1>
    <h2>Overview</h2>
    <div class="row larger-font">
        <div class="col-sm-4">
            <img class="img-responsive poster" src="{{movie.poster}}">
        </div>
        <div class="col-sm-7">
            <p>{{movie.overview}}</p>
            <div>
                {% for genre in movie.genres %}
                <a href="/genre/{{genre.id}}">
                    <div class="label label-info genre-label"><span class="glyphicon glyphicon-tag"></span> {{genre.genre}}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if movie.youtube_id %}
    <h2>View Trailer</h2>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{movie.youtube_id}}"></iframe>
            </div>
        </div>
    </div>
    {% endif %}
    <h2>More Info</h2>
    <div class="row larger-font">
        <label class="col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1">Release Date: </label>
        <div class="col-lg-9 col-md-8">
            <p>{{movie.release_date}}</p>
        </div>
        <div class="clearfix"></div>
        <label class="col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1">Added by: </label>
        <div class="col-lg-9 col-md-8">
            <p>{{movie.user.name}}</p>
        </div>
        <label class="col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1">External Link: </label>
        <div class="col-lg-9 col-md-8">
            <a href="https://www.themoviedb.org/movie/{{movie.tmdb_id}}"><img src="{{url_for('static', filename='images/TMDB_favicon.png')}}"></a>
            <a href="http://www.imdb.com/title/{{movie.imdb_id}}"><img src="{{url_for('static', filename='images/IMDb_favicon.png')}}"></a>
        </div>
    </div>
{% endblock %}
